name: CI Docker Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4

      - name: Lister les fichiers
        run: ls -la

      - name: Build de l'image Docker
        run: docker build -t devops-ci-image .
